@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model web_phong_kham_tu_nhan.Models.Entities.ChuyenKhoa

<div class="edit-wrapper">
    <div class="form-container">

        <h2>Sửa Chuyên Khoa</h2>

        <form asp-action="Edit" method="post">

            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label>Tên chuyên khoa</label>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Mô tả</label>
                <textarea asp-for="MoTa" class="form-control"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Lưu</button>
            <a asp-action="Index" class="btn btn-secondary">Quay lại</a>

        </form>

    </div>
</div>
