@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>

        body {
            background: #f4f6fb;
            font-family: Arial;
        }

        .swal2-confirm {
            background-color: #dc3545 !important;
            color: white !important;
        }
        .clinic-title {
            text-align: center;
            font-size: 22px;
            font-weight: 600;
            margin-top: 60px;
            margin-bottom: 20px;
        }

        .login-box {
            width: 420px;
            margin: auto;
            background: white;
            padding: 35px;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0,0,0,0.08);
        }

        .login-title {
            font-size: 22px;
            font-weight: 600;
            margin-bottom:30px;
        }

        .form-control {
            height: 45px;
        }

        .btn-login {
            width: 100%;
            height: 45px;
            background: #3b7ddd;
            border: none;
        }

            .btn-login:hover {
                background: #2f6fd0;
            }

        .register-link {
            text-align: center;
            margin-top: 15px;
        }

    </style>

</head>

<body>

    <div class="login-box">

        <div class="login-title">
            Đăng nhập vào tài khoản của bạn
        </div>

        @* <div class="login-desc">
            Enter your credentials to access your dashboard
        </div> *@

        <form method="post" asp-action="Dangnhap">

            <div class="mb-3">
                <label>Email</label>
                <input name="email" type="email" class="form-control" placeholder="Nhập email của bạn" required>
            </div>

            <div class="mb-3">
                <label>Mật khẩu</label>
                <input name="password" type="password" class="form-control" placeholder="Nhập mật khẩu" required>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label">Nhớ tài khoản</label>
            </div>

            <button type="submit" class="btn btn-primary btn-login">
                ĐĂNG NHẬP
            </button>

        </form>

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger mt-3">
                @ViewBag.Error
            </div>
        }

        <div class="register-link">
            Bạn đã có tài khoản chưa?
            <a href="/Account/Dangky">Đăng ký ngay</a>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            @if (ViewBag.PwChanged == true)
            {
                    <text>
                    Swal.fire({
                        title: 'Đổi mật khẩu thành công!',
                        text: 'Vui lòng đăng nhập lại với mật khẩu mới.',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                    </text>
            }
        });
    </script>

</body>
</html>